$card-shadow-color: #bebaba;

.card {
    box-shadow: 5px 5px 5px $card-shadow-color;
    border-radius: 5px;
    vertical-align: top;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
}
.card:last-child {
    margin-right: 0;
}

.card-img-top {
    min-height: 200px;
}

.card-body {
    min-height: 100px;
    max-height: 100px;
    overflow-y: auto;
}

@media (min-width: 768px) {
    .card {
        width: 250px;    
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;    
    }
}